.table{
    width: 60%;
    margin: 0 auto;
    border: 1px solid #3978ff;
    font-size: 16px;
}
li{
    padding: 10px;
}
span{
    display: inline-block;
    min-width: 50px;
}
.main-content{
    width: 60%;
    margin: 0 auto;
}
.form-control{
    width: 300px;
}